<div class="member-card">
  <span class="member-image-container">
    <img
      [src]="user.photoUrl || '../../../assets/user.png'"
      [alt]="user.knownAs"
      class="member-image"
    />
    <ul class="action-icons-container">
      <button class="action-icon-button" [routerLink]="['/members', user.id]">
        <fa-icon class="action-icon" [icon]="faUser"></fa-icon>
      </button>
      <button class="action-icon-button">
        <fa-icon
          class="action-icon"
          [icon]="faHeart"
          (click)="sendLike(user.id)"
        ></fa-icon>
      </button>
      <button
        class="action-icon-button"
        [routerLink]="['/members', user.id]"
        [queryParams]="{ tab: 4 }"
      >
        <fa-icon class="action-icon" [icon]="faEnvelope"></fa-icon>
      </button>
    </ul>
  </span>
  <span class="detail-person">
    <fa-icon class="icon" [icon]="faUser"></fa-icon>
    {{ user.knownAs }}, {{ user.age }}</span
  >
  <span class="detail-location">{{ user.city }}</span>
</div>
