.navbar {
  background-color: teal;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  list-style-type: none;
}

.nav-brand {
  display: inline;
  font-size: 1.6rem;
  margin-right: 30px;
}

.nav-brand a {
  color: white;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #ddd;
}

.nav-link-active {
  color: white;
}

.nav-item {
  display: inline;
  padding-right: 15px;
}

.nav-input {
  padding: 0.2rem;
  margin-right: 10px;
  border: none;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.nav-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.nav-signin {
  color: white;
  background-color: transparent;
  padding: 2px 6px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.nav-signin:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.nav-user {
  list-style-type: none;
  color: white;
  cursor: pointer;
}

.caret-down {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8rem;
}

.nav-dropdown-toggler {
  position: relative;
  width: 150px;
}

.nav-dropdown-toggler.dropdown-visible .nav-user-dropdown {
  display: block;
}

.nav-dropdown-link {
  color: white;
}

.nav-user-dropdown {
  position: absolute;
  display: none;
  list-style-type: none;
  background-color: teal;
  width: 100%;
  padding-top: 0;
  padding: 10px;
  margin-top: -2px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: block;
  padding: 2px 0;
}
