.navbar {
  background-color: teal;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  list-style-type: none;
}

.nav-brand {
  display: inline;
  font-size: 1.6rem;
  margin-right: 30px;
}

.nav-brand a {
  color: white;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #ddd;
}

.nav-link-active {
  color: white;
}

.nav-item {
  display: inline;
  padding-right: 15px;
}

.nav-input {
  padding: 0.2rem;
  margin-right: 10px;
  border: none;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.nav-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.nav-signin {
  color: white;
  background-color: transparent;
  padding: 2px 6px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.nav-signin:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.nav-user {
  list-style-type: none;
  color: white;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
}

.nav-user li {
  display: inline-block;
  margin: 0 5px;
}

.nav-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.caret-down {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8rem;
}

.nav-dropdown-toggler {
  position: relative;
  width: 150px;
  cursor: pointer;
}

.nav-dropdown-toggler.dropdown-visible .nav-user-dropdown {
  display: block;
}

.nav-dropdown-link {
  color: white;
  display: block;
  padding: 4px 10px;
  font-size: 0.9rem;
}
.nav-dropdown-link:hover {
  background-color: rgb(48, 159, 159);
}

.icon {
  margin-right: 8px;
}

.nav-user-dropdown {
  position: absolute;
  display: none;
  /* display: block; */
  list-style-type: none;
  background-color: teal;
  width: 100%;
  padding-top: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 100;
}

.nav-user-dropdown li {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-user-dropdown .divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  height: 1px;
  width: 90%;
  /* margin: 0 auto; */
  margin: 4px auto;
  padding: 0;
  /* padding: 0px 2px; */
}
