.register-form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.form-body {
  margin-top: 20px;
}

.btn {
  padding: 1px 8px;
  color: white;
  background-color: teal;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 1rem;
}

.btn-cancel {
  background-color: rgb(105, 113, 113);
}

.control {
  /* font-size: 1rem; */
  padding: 5px 10px;
  width: 100%;
  margin: 5px 0;
  border-radius: 4px;
}

.form-block {
  width: 80%;
  margin: 5px auto;
}

input.ng-touched.ng-invalid {
  border: 1px solid rgb(241, 0, 0, 0.4);
  box-shadow: 0px 0px 4px rgba(241, 0, 0, 0.4);
}

.help-block {
  display: block;
  font-size: 0.85rem;
  color: rgb(241, 0, 0, 0.8);
}

.gender-controls {
  text-align: left;
}

.i-am {
  margin-right: 10px;
  font-weight: bold;
}

.gender-controls label {
  margin-right: 15px;
}

button[type="submit"][disabled] {
  cursor: not-allowed;
}
